<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <h2>About this App</h2>
      <p>
        This app is developed to easy the SIP calculation. This is an open source project, the
        code is available on public for reference and to extent the functionality. We have planned to bring more
        functionality to this application in the future releases.
      </p>


      <ion-item-divider></ion-item-divider><br>
      <h2>About Us</h2>
      <p>
        This is an service by epix.io / webepix.com. We provide web design, web development, application development
        and other related service such web hosting, website management, cloud hosting, online storages and social
        media marketing.
      </p>

      <ion-item-divider></ion-item-divider><br>
      <h2>Thanks</h2>
      <p>Thanks for using our application, you can share your feedback, issues and feature request.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Other Apps
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <!-- List of Text Items -->
      <ion-list>
        <ion-item>
          <ion-label>
            <h3>WhatsIs</h3>
            <p>Send WhatsApp Messages without Saving the contact number</p>
            <ion-button color="secondary" target="_blank" href="https://play.google.com/store/search?q=pub%3Aepix.io&c=apps">Read More</ion-button>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h3>TRAI Channel Pricing</h3>
            <p>App to find the pricing details of all the channels and packages.</p>
            <ion-button color="secondary" target="_blank" href="https://play.google.com/store/search?q=pub%3Aepix.io&c=apps">Read More</ion-button>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h3>EMI Calculator</h3>
            <p>Calculate secured and unsecured loan.</p>
            <ion-button color="secondary" target="_blank" href="https://play.google.com/store/search?q=pub%3Aepix.io&c=apps">Read More</ion-button>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
