// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** customised theme **/ 
:root {
  --ion-color-primary: #6200EE;
  --ion-color-primary-rgb: 98,0,238;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #5600d1;
  --ion-color-primary-tint: #721af0;

  --ion-color-secondary: #03DAC5;
  --ion-color-secondary-rgb: 3,218,197;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #03c0ad;
  --ion-color-secondary-tint: #1cdecb;

  --ion-color-tertiary: #ff0266;
  --ion-color-tertiary-rgb: 255,2,102;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #e0025a;
  --ion-color-tertiary-tint: #ff1b75;

  --ion-color-success: #37966F;
  --ion-color-success-rgb: 55,150,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #308462;
  --ion-color-success-tint: #4ba17d;

  --ion-color-warning: #F9AA33;
  --ion-color-warning-rgb: 249,170,51;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #db962d;
  --ion-color-warning-tint: #fab347;

  --ion-color-danger: #F4511E;
  --ion-color-danger-rgb: 244,81,30;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d7471a;
  --ion-color-danger-tint: #f56235;

  --ion-color-dark: #4A6572;
  --ion-color-dark-rgb: 74,101,114;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #415964;
  --ion-color-dark-tint: #5c7480;

  --ion-color-medium: #B9EAC9;
  --ion-color-medium-rgb: 185,234,201;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #a3ceb1;
  --ion-color-medium-tint: #c0ecce;

  --ion-color-light: #FFFBE6;
  --ion-color-light-rgb: 255,251,230;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0ddca;
  --ion-color-light-tint: #fffbe9;
}

// /** Ionic CSS Variables **/
// :root {
//   /** primary **/
//   --ion-color-primary: #3880ff;
//   --ion-color-primary-rgb: 56, 128, 255;
//   --ion-color-primary-contrast: #ffffff;
//   --ion-color-primary-contrast-rgb: 255, 255, 255;
//   --ion-color-primary-shade: #3171e0;
//   --ion-color-primary-tint: #4c8dff;

//   /** secondary **/
//   --ion-color-secondary: #0cd1e8;
//   --ion-color-secondary-rgb: 12, 209, 232;
//   --ion-color-secondary-contrast: #ffffff;
//   --ion-color-secondary-contrast-rgb: 255, 255, 255;
//   --ion-color-secondary-shade: #0bb8cc;
//   --ion-color-secondary-tint: #24d6ea;

//   /** tertiary **/
//   --ion-color-tertiary: #7044ff;
//   --ion-color-tertiary-rgb: 112, 68, 255;
//   --ion-color-tertiary-contrast: #ffffff;
//   --ion-color-tertiary-contrast-rgb: 255, 255, 255;
//   --ion-color-tertiary-shade: #633ce0;
//   --ion-color-tertiary-tint: #7e57ff;

//   /** success **/
//   --ion-color-success: #10dc60;
//   --ion-color-success-rgb: 16, 220, 96;
//   --ion-color-success-contrast: #ffffff;
//   --ion-color-success-contrast-rgb: 255, 255, 255;
//   --ion-color-success-shade: #0ec254;
//   --ion-color-success-tint: #28e070;

//   /** warning **/
//   --ion-color-warning: #ffce00;
//   --ion-color-warning-rgb: 255, 206, 0;
//   --ion-color-warning-contrast: #ffffff;
//   --ion-color-warning-contrast-rgb: 255, 255, 255;
//   --ion-color-warning-shade: #e0b500;
//   --ion-color-warning-tint: #ffd31a;

//   /** danger **/
//   --ion-color-danger: #f04141;
//   --ion-color-danger-rgb: 245, 61, 61;
//   --ion-color-danger-contrast: #ffffff;
//   --ion-color-danger-contrast-rgb: 255, 255, 255;
//   --ion-color-danger-shade: #d33939;
//   --ion-color-danger-tint: #f25454;

//   /** dark **/
//   --ion-color-dark: #222428;
//   --ion-color-dark-rgb: 34, 34, 34;
//   --ion-color-dark-contrast: #ffffff;
//   --ion-color-dark-contrast-rgb: 255, 255, 255;
//   --ion-color-dark-shade: #1e2023;
//   --ion-color-dark-tint: #383a3e;

//   /** medium **/
//   --ion-color-medium: #989aa2;
//   --ion-color-medium-rgb: 152, 154, 162;
//   --ion-color-medium-contrast: #ffffff;
//   --ion-color-medium-contrast-rgb: 255, 255, 255;
//   --ion-color-medium-shade: #86888f;
//   --ion-color-medium-tint: #a2a4ab;

//   /** light **/
//   --ion-color-light: #f4f5f8;
//   --ion-color-light-rgb: 244, 244, 244;
//   --ion-color-light-contrast: #000000;
//   --ion-color-light-contrast-rgb: 0, 0, 0;
//   --ion-color-light-shade: #d7d8da;
//   --ion-color-light-tint: #f5f6f9;
// }
